.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.box-container .box{
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

 .box-container .box .image .fa-heart{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);
}

.box-container .box .image .fa-heart:hover{
    background-color: var(--red);
    color: #fff;
}

.box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

 .box-container .box .content .stars{
    padding-bottom: 1rem;
}

 .box-container .box .content .stars i{
    font-size: 2rem;
    color: var(--green);
}

 .box-container .box .content h3{
    color: var(--black);
    font-size: 3rem;
}

 .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

 .box-container .box .content .btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

 .box-container .box .content .btn:hover{
    background-color: var(--red);
    letter-spacing: .1rem;
}

 .box-container .box .content .price{
    color: var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}